
.joinNowParent {
  position: absolute;
  top: 31.88rem;
  left: 36rem;
  border-radius: 23.55px;
  background-color:rgba(189, 45, 88, 0.74);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.72rem 0.7rem;
  gap: 1.21rem;
  font-size: 1.3rem;
  
}

.joinNowParent:hover{
  cursor: pointer;
  background-color:rgba(224, 14, 77, 0.74);
}

.videoContainer {
	display: flex;
  width: 100%;
}

/* .myVideoWrapper{
  top:-5.2rem;
} */


.myVideo{
  width:11rem;
  height:9rem;
  margin-left: 0.5rem;
}

.friendVideo{
  width:50rem;
  height:34rem;
  margin-top:1rem;
  margin-left: 1.5rem;
}

/* .callerWrapper{
  display: flex;
} */

.caller{
  top: 45.88rem;
  left: 30rem;
}

.answerCall{
  position: absolute;
  top: 31.88rem;
  left: 45rem;
  border-radius: 23.55px;
  background-color:rgba(52, 136, 41, 0.74);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.72rem 0.7rem;
  gap: 1.21rem;
  font-size: 1.3rem;
}
.answerCall:hover{
  cursor: pointer;
  background-color:rgba(28, 189, 6, 0.74);
}



  @media(max-width:650px){
    
    .videoContainer {
       display: flex;
      flex-direction: column; 
      /* width: 100%;  */
    }
    
    .myVideoWrapper {
      display: flex;
     justify-content: flex-start;
    }
    
    .myVideo {
      width: 10rem;
      height: auto;
      margin-top: -20rem;
      margin-left: 2rem;
    }
    
    .friendVideoWrapper {
      display: flex;
      width: 100%;
      height: auto;
      margin-top: -5rem;
      border: 2px solid white;
      justify-content: center;
    }

    .friendVideo{
      width: 90%;
      height:auto;
      margin: 2px;
    }
    

    .joinNowParent {
      position: absolute;
      top: 37.88rem;
      left:calc(35%);
      border-radius: 23.55px;
      background-color:rgba(189, 45, 88, 0.74);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0.72rem 0.7rem;
      gap: 1.21rem;
      font-size: 1.3rem;
      
    }
    
    .joinNowParent:hover{
      cursor: pointer;
      background-color:rgba(224, 14, 77, 0.74);
    }
    .answerCall{
      position: absolute;
      top: 37.88rem;
      left: calc(60%);
      border-radius: 23.55px;
      background-color:rgba(52, 136, 41, 0.74);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0.72rem 0.7rem;
      gap: 1.21rem;
      font-size: 1.3rem;
    }
    .answerCall:hover{
      cursor: pointer;
      background-color:rgba(28, 189, 6, 0.74);
    }
  
    
  }
  
 
  